* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  transition: all 0.2s linear 0s;
}

:root {
  --white: #fff;
  --black: #000;
  --primary: #0d6efd;
}

.navbar-brand {
  font-weight: bold;
}

.nav-item .nav-link {
  font-size: 18px;
  margin: 0 5px;
}

.nav-item .nav-link:hover,
.nav-item .nav-link.active {
  color: var(--primary);
}

body {
  background-image: linear-gradient(
    to right,
    rgba(0, 136, 255, 0.5),
    rgba(0, 136, 255)
  );
  /* animation: change 10s linear 0s infinite alternate both; */
}

@keyframes change {
  to {
    background-image: linear-gradient(
      to right,
      rgba(0, 136, 255),
      rgba(0, 136, 255, 0.5)
    );
  }
}

.search-field {
  width: 100%;
  max-width: 1200px;
  margin: 50px auto 0;
}

#searchInpt {
  border: 1px solid lightgray;
  font-size: 18px;
}

#searchInpt:focus {
  outline: 2px solid var(--primary);
}

#searchBtn{
  border: 1px solid var(--white);
  color: var(--white);
  font-size: 18px;
}

.boxs {
  width: 95%;
  margin: auto;
}

.boxs .box h2 {
  font-size: 60px;
}

#topIcon {
  font-size: 30px;
  border: 1px solid var(--white);
  width: fit-content;
  background-color: var(--black);
  border-radius: 50%;
  width: 70px;
  height: 70px;
  color: gold;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -40px;
}